<%= error_messages_for 'link' %>

<!--[form:link]-->
<p><label for="post_title">Title</label><br/>
<%= text_field 'link', 'title'  %></p>

<p><label for="post_title">URL</label><br/>
<%= text_field 'link', 'url'  %></p>

<p><label for="postset_id">postset_id</label>
<%= text_field 'link', 'postset_id'%></p>

<p><label for="user_id">user_id</label>
<%= text_field 'link', 'user_id'%></p>


<!--[eoform:link]-->

